.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.guideContainer {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.guideContent {
  h2 {
    margin-top: 20px;
    color: #333;
  }

  p {
    margin-top: 10px;
    color: #555;
  }
}

.guide1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.guide2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.guide1 h3 {
  & > span:first-child {
    color: red;
  }

  & > span:nth-child(2) {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
  }
}

.highlight {
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}
