# env 파일
.env.dev
.env.prod

# cache 파일
*.pyc
__pycache__/

# img, gif temp 파일
temp_image
temp_video
temp_gif
temp_rig

# osmesa 관련 파일 변경사항 무시
# git ls-files -z AnimatedDrawings/examples/config/mvc/ | xargs -0 git update-index --assume-unchanged
# git update-index --assume-unchanged animated_drawings/mvc_base_cfg.yaml
# git update-index --assume-unchanged animated_drawings/view/mesa_view.py

# 되돌리기
# git ls-files -z AnimatedDrawings/examples/config/mvc/ | xargs -0 git update-index --no-assume-unchanged
# git update-index --no-assume-unchanged animated_drawings/mvc_base_cfg.yaml
# git update-index --no-assume-unchanged animated_drawings/view/mesa_view.py
# git update-index --really-refresh

