@import "../../../styles/variables.scss";
@import "../../../styles/mixins/defalut";

// MyPageUserInfo
.userInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 14px;
}

.userInfoDetail {
  display: flex;
  justify-content: space-between;
}

.userNicknameInput {
  padding: 0.5em;
}

.userInfoReal {
  display: flex;
  align-items: end;
  flex-direction: column;
}

// MyPageCharacter
.userCharacterListContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 60vh;
  font-size: 14px;

  .title {
    justify-content: space-between;
    align-self: flex-start;
    margin: 10px 20px;
    font-size: 16px;
    font-weight: bold;
  }
}

.userCharacterList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  padding: 0 20px;

  @media screen and (min-width: 390px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.userCharacterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  .userCharacterImage {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .userCharacterInfo {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.justifyRight {
      justify-content: flex-end;
    }

    &.justifyBetween {
      justify-content: space-between;
    }

    .nickname {
      display: inline-block;
      margin-left: 3px;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 70px;
      font-size: 12px;
    }

    .mainCharacterLabel {
      display: inline-block;
      height: 22px;
      width: 35px;
      margin-right: 5px;
      background-color: red;
      color: white;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }
}

.userCharacterListUpper {
  display: flex;
  gap: 1em;
  padding: 10px;
  font-size: 12px;
}

// MyPageCharacter에서 캐릭터가 0개일때
.userNoCharacterListContainer {
  text-align: center;
  font-size: 12px;
}
.titleNoCharacter {
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
}
.userNoCharacterButton {
  margin-top: 10px;
  background-color: $successColor;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

// 친구 찾기
.findFriendContainer{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 250px;
  gap: 0.7em;
}

.findFriendInput{
  display: flex;
  justify-content: space-between;
  gap: 2em;
  
  input{
    // width: 120px;
    padding: 3px;
  }
}
.findFriendDivider::after {
  content: '';
  display: block;
  height: 2px; 
  background-color: $gc400; 
  width: 100%; 
}

.findFriendResult{
  height: 150px;
  overflow-y: auto;
  padding-right: 10px;
}

.findFriendColumn{
  display: flex;
  margin-bottom: 3px;
  
  p:nth-child(1){
    margin-right: 5.5em;
  }
}

.findFriendResultContent{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  button{
    padding: 3px;
    background-color: $successColor;
    color: white;
    border-radius: 5px;
  }
}

// 내 친구 목록
.friendListContainer{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 300px;
  gap: 0.7em;
  width: 250px;
}

.friendListAllContent{
  overflow-y: auto;
  padding-right: 10px;
}

.myFriendEachContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3px 0;

  button{
    padding: 3px;
    background-color: $errorColor;
    color: white;
    border-radius: 5px;
  }
}

.friendListUpper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  button{
    padding: 5px;
    background-color: $successColor;
    color: white;
    border-radius: 5px;
  }
}