@import "../../../styles/variables.scss";
@import "../../../styles/mixins/defalut";

// MyPageUserInfo
.userInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.userInfoDetail {
  display: flex;
  justify-content: space-between;
}

.userNicknameInput {
  padding: 0.5em;
}
