@import "../../../styles/mixins/defalut";

.sketchbookListContainer {
  @include flexCenterColumn();
  gap: 1em;
  position: relative;
  & h1 {
    @include subtitle();
  }

  & > button {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 9999;
  }
  /* 데스크탑 */

  @media screen and (max-width: 767px) {
    /* 타블렛 */
    & > button {
      position: fixed;
      bottom: calc(64px + 1em);
      right: 1em;
      z-index: 9999;
    }
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
    & > button {
      display: none;
    }
  }
}

.createSketchbookBox {
  @include flexCenterColumn();
  gap: 1em;
  & input {
    padding: 1em;
  }
}

.searchBox {
  padding: 1rem;
  border-radius: 5px;
}

.buttonBox {
  width: 100%;
  display: flex;
  & > button {
    width: 100%;
    padding: 1rem;
    transition: 0.3s all;
    @include commonShadow;
    border-radius: 0 0 5px 5px;
  }
}

.select {
  background-color: $actionColor;
  color: $white;
}

.friendNav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  & > button {
    padding: 1rem;
    border-radius: 1rem;
    @include commonShadow;
  }
}
