@import "../../../styles/mixins/_defalut.scss";

$widthValue: 90%;
$maxWidthValue: 1024px;

.container {
  @media screen and (min-width: 768px) {
    /* 데스크탑 */
    @include flexCenterColumn();
  }
  @media screen and (max-width: 767px) {
    /* 타블렛 */
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
  }
}

.letterBox {
  @include box();
  width: $widthValue;
  max-width: $maxWidthValue;
  display: flex;
  margin: 0 auto;
  gap: 1em;

  align-items: center;

  & article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  /* 데스크탑 */

  @media screen and (max-width: 767px) {
    /* 타블렛 */
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
    flex-direction: column;
  }
}

.localMenu {
  width: $widthValue;
  max-width: $maxWidthValue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    /* 타블렛 */
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
    margin: 0 auto;
  }
}

.letterSize {
  width: 500px;
  height: 300px;
  @media screen and (max-width: 767px) {
    /* 타블렛 */
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
    margin: 0 auto;
    width: 100%;
    height: 300px;
  }
}

.characterList {
  /* 데스크탑 */
  list-style: none;
  display: flex;
  gap: 0.5em;
  @media screen and (max-width: 767px) {
    /* 타블렛 */
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
  }
}

.characterListItem {
  /* 데스크탑 */
  @include flexCenterColumn();
  list-style: none;
  gap: 0.5em;

  @media screen and (max-width: 767px) {
    /* 타블렛 */
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
  }
}
.characterImg {
  width: 100%;
  height: 100%;
  max-width: 200px;

  @media screen and (max-width: 767px) {
    /* 타블렛 */
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
  }
}

.boxComponent {
  @include box();
}

.letterContent {
  @include box();
  background-color: inherit;
  width: 100%;
}

.sendList {
  width: 100%;
}
