.motionImage {
  width: 500px;
  height: 500px;
}

.motionPreviewContainer{
    width: 100%;
    padding: 20px;
    background-color: blue;
    border-radius: 15px;
}

.motionPreviewButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}

