@import "../variables.scss";

main {
  width: 100%;
  height: 100%;
  position: relative;
  & .layoutSection {
    width: 100%;
    height: 100%;

    /* 데스크탑 */

    @media screen AND (min-width: 768px) {
      margin-left: 20px;
    }

    @media screen and (max-width: 767px) {
      /* 타블렛 */
      // margin-bottom: 5em;
    }

    @media screen and (max-width: 479px) {
      /* 모바일 */
      margin-top: 44px;
      min-height: calc(100vh - 44px - 64px);
    }
  }
}
