@import "../variables.scss";

main {
  position: relative;
  min-width: 100vw;

  @media screen AND (min-width: 480px) {
    min-height: 100vh;
  }

  & .layoutSection {
    /* 데스크탑 */
    @media screen AND (min-width: 767px) {
      min-height: 100vh;
      & > * {
        min-height: 100vh;
        padding-left: 54px;
      }
    }

    @media screen and (max-width: 767px) {
      /* 타블렛 */
      & > * {
        min-height: calc(100vh - 64px);
        margin-bottom: 64px;
      }
    }

    @media screen and (max-width: 479px) {
      /* 모바일 */
      & > * {
        min-height: calc(100vh - 44px);
        margin-top: 44px;
      }
    }
  }
}
