@import "../variables.scss";

main {
  position: relative;
  min-width: 100vw;

  @media screen AND (min-width: 480px) {
    min-height: 100vh;
  }

  & .layoutSection {
    /* 데스크탑 */
    padding-top: 1rem;
    @media screen AND (min-width: 768px) {
      min-height: calc(100vh - 1rem);
      & > * {
        min-height: calc(100vh - 1rem);
        padding-left: $GNBWidth;
      }
    }

    @media screen and (max-width: 767px) {
      /* 타블렛 */
      & > * {
        min-height: calc((100vh - 1rem) - $GNBHeight);
        margin-bottom: $GNBHeight;
      }
    }

    @media screen and (max-width: 479px) {
      /* 모바일 */
      & > * {
        min-height: calc(100vh - $LNBHeight - 1rem);
        margin-top: $LNBHeight;
        margin-bottom: 0px;
      }
    }
  }
}
