@import "../../../styles/mixins/defalut";

.sketchbookListContainer {
  width: 100%;
  position: relative;
  @include setFontSize;
  padding: 1rem;
  & > :nth-child(1) {
    margin-bottom: 0.4rem;
    padding-left: 1rem;
  }
  overflow: hidden;
}

.sketchbookList {
  @include wrapBox();
  position: relative;
  transition: 0.3s all;
  /* 데스크탑 */
  display: grid;
  gap: 1em;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(1fr, 1fr);

  @media screen and (max-width: 767px) {
    /* 타블렛 */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 3rem;
  }
}

.moreButton {
  background-color: $gc800;
  @include commonShadow;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;

  & > * {
    @include flexCenter;
  }

  @media screen and (min-width: 480px) {
    /* 모바일 이상 */
    display: none;
  }
}

.open {
  @media screen and (max-width: 479px) {
    max-height: 80vh;
  }
}

.close {
  @media screen and (max-width: 479px) {
    /* 모바일 */
    max-height: 20rem;
  }
}
