.BoxContainer {
  border: 30px solid transparent;
  border-image: url("../../../assets/boxborder/linebox20gray.png") 40 repeat;
}

.BoxContainer2 {
  border: 30px solid transparent;
  border-image: url("../../../assets/boxborder/linebox202.png") 40 repeat;
}

.BoxContainer3 {
  border: 30px solid transparent;
  border-image: url("../../../assets/boxborder/linebox203.png") 40 repeat;
}

.BoxContainer4 {
  border: 30px solid transparent;
  border-image: url("../../../assets/boxborder/linebox204.png") 40 repeat;
}
