.BoxContainer {
  border: 30px solid transparent;
  border-image: url("/linebox20gray.png") 40 repeat;
}

.BoxContainer2 {
  border: 30px solid transparent;
  border-image: url("/linebox202.png") 40 repeat;
}

.BoxContainer3 {
  border: 30px solid transparent;
  border-image: url("/linebox203.png") 40 repeat;
}

.BoxContainer4 {
  border: 30px solid transparent;
  border-image: url("/linebox204.png") 40 repeat;
}
