@import "../../../styles/mixins/defalut";

.mainContainer {
  @include flexCenter();
  flex-direction: column;
  gap: 1em;
  font-size: 100px;
  height: 100vh;
  & section {
    @include body2();
    padding: 10px;
  }

  & h1 {
    @include title();
  }
}

.character {
  width: 100px;
  height: 100px;
}

.characterDiv {
  display: flex;
  flex-wrap: wrap;
}
