@import "../../../styles/mixins/_defalut.scss";

.letter_container {
  @include flexCenterColumn();
  @include full();
}

.name_box {
  padding: 1em;
  width: 100%;
}

.content_box {
  padding: 1em;
  @include full();
}
