@import "../../../styles/variables.scss";
@import "../../../styles/mixins/defalut";

.header {
  z-index: 9999;
  transition: 0.3s all;
  @media screen and (min-width: 768px) {
    gap: 1em;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: $GNBWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    box-shadow: 0.1px 0.1px 0.3px black;
    &:hover {
      width: calc($GNBWidth * 3);
      h5 {
        opacity: 1;
        transform: translateX(0%);
        transition: 0.5s all;
        position: relative;
      }
    }
  }
  box-shadow: 0.1px 0.1px 0.5px black;
  background-color: $gc900;
  & a {
    @include flexCenter();
    width: 100%;
    @media screen and (max-width: 479px) {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 767px) {
    /* 태블릿 */
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $GNBHeight;
  }
}

.GNBbutton {
  display: flex;
  gap: 0.5rem;
  @include setFontSize;
  @include hoverItem;
  padding: 1rem;
  @media screen and (min-width: 768px) {
    & > h5 {
      opacity: 0;
      white-space: nowrap;
      position: absolute;
      transform: translateX(-100%);
    }
  }

  @media screen and (max-width: 767px) {
    /* 태블릿 */
    max-width: 100%;
    flex-direction: column;
    & > h5 {
      display: flex;
    }
  }
  @media screen and (max-width: 479px) {
    /* 모바일 */
    & > h5 {
      white-space: nowrap;
    }
  }
}
