@import "../../../styles/variables.scss";
@import "../../../styles/mixins/defalut";

.header {
  display: none;
  gap: 1em;
  z-index: 9999;

  box-shadow: 0.1px 0.1px 0.5px black;
  & a {
    @include flexCenter();
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    /* 모바일 */
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
    padding: 2em 0;
    background-color: $gc900;
  }
}
.GNBbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
