@import "../../../styles/variables.scss";
@import "../../../styles/mixins/defalut";

.header {
  z-index: 9999;
  @media screen and (min-width: 768px) {
    gap: 1em;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    @include flexCenterColumn();
    gap: 3em;
    box-shadow: 0.1px 0.1px 0.3px black;
  }
  box-shadow: 0.1px 0.1px 0.5px black;
  background-color: $gc900;
  & a {
    @include flexCenter();
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    /* 모바일 */
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 3em;
    padding: 2em 0;
  }
}
.GNBbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
