@import "../../../styles/colors";

.SNBNav {
  /* 데스크탑 */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 3em;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  z-index: 9999;

  @media screen and (max-width: 767px) {
    /* 타블렛 */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 479px) {
    /* 모바일 */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.SNBButton {
  transition: 0.3s all;
  transform: translateX(30px);
  display: flex;
  flex-direction: column;
  align-items: end;
  white-space: nowrap;

  &:hover {
    transform: translateX(100px);
  }
  & img {
    transform: rotateZ(180deg);
  }

  @media screen and (max-width: 767px) {
    /* 모바일 */
    display: none;
  }
}
