// Primary Color
$primary: #00ff00;

// Secondary Color
$secondary: #ffff00;

// Action Color
$actionColor: #0091ea;

// Success Color
$successColor: #4caf50;

// Warning Color
$warningColor: #f9a825;

// Error Color
$errorColor: #d32f2f;

// GrayScale
$gc100Title: #191919;
$gc200Body: #424242;
$gc300Caption: #616161;
$gc400: #757575;
$gc500: #9e9e9e;
$gc600: #bdbdbd;
$gc700: #e0e0e0;
$gc800: #eeeeee;
$gc900: #f5f5f5;
