@import "./fonts";

body {
  & * {
    box-sizing: border-box;
  }
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
  font-family: "KyoboHand";
  line-height: 1.1;
}

/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
